@media (max-width: 767px){

h2 {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 
	'Arial Narrow', Arial, sans-serif;
  }

div.caixa {
  position: relative;
  width: 400px;
  height: 150px;
  background-color: rgb(155, 153, 153);
	box-sizing: border-box;
	border: 2px solid;
	padding: 5px;
    margin: 20px;
}

div.type {
  position: absolute;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  padding: 5px;
  background-color: red;
  border: solid black;
  border-width: 0px 0px 2px 2px;
  width: 150px;
  height: 30px;
  text-align: center;
  top: 0px;
  right: 0px;
} 

div.text {
  box-sizing: border-box;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
  top: 45px;
}

#chicken {
  background-color: rgb(240, 170, 170);
}

#beef {
  background-color: rgb(138, 70, 70);
  color: white;
}

#sushi {
  background-color: rgb(226, 202, 96);
}
}
